
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.login-5vM {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .auto-group-dgt5-1Z7 {
    padding: 20.6rem 3.5rem 20.7rem 3.5rem;
    width: 48rem;
    height: 100rem;
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 1.2rem 5rem rgba(0, 0, 0, 0.1000000015);
    background-color: #ffffff;

    .logo-VUH {
      margin: 0rem 9.6rem 2.346rem 9.6rem;
      width: calc(100% - 19.2rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .rectangle-4-cJ1 {
        border-radius: 1.6617rem;
        flex-shrink: 0;
        margin: 0.415rem 0.554rem 0rem 0rem;
        width: 0.5539rem;
        height: 5.5389rem;
        background-color: #fd7401;
      }
      .rectangle-5-iM3 {
        background-color: #1e2772;
        border-radius: 1.6617rem;
        flex-shrink: 0;
        margin: 0rem 0.554rem 0.415rem 0rem;
        width: 0.5539rem;
        height: 5.5389rem;
      }
      .rectangle-6-SH3 {
        margin: 0.415rem 0.554rem 0rem 0rem;
        width: 0.5539rem;
        height: 5.5389rem;
        background-color: #fd7401;
        border-radius: 1.6617rem;
        flex-shrink: 0;
      }
      .rectangle-7-koX {
        height: 5.5389rem;
        background-color: #1e2772;
        border-radius: 1.6617rem;
        flex-shrink: 0;
        margin: 0rem 0.554rem 0.415rem 0rem;
        width: 0.5539rem;
      }
      .rectangle-8-HYZ {
        background-color: #fd7401;
        border-radius: 1.6617rem;
        flex-shrink: 0;
        margin: 0.415rem 0.554rem 0rem 0rem;
        width: 0.5539rem;
        height: 5.5389rem;
      }
      .network-DBK {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.0429rem;
        width: 16.2611rem;
        height: 3.0034rem;
      }
    }
    .login-into-your-account-M2d {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 4.5rem;
    }
    .group-2-sFs {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 2.3rem;

      .email-address-pS1 {
        flex-shrink: 0;
        margin-bottom: 1rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #555555;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-1sah-kKf {
        background-color: #f1f3f6;
        border-radius: 0.8rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 1.9rem;
        width: 100%;
        display: flex;
        align-items: center;

        .alexemailcom-V2M {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: #555555;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 20.7rem;
        }
        .auto-group-ebnm-cMs {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 5rem;
          height: 5rem;
        }
      }
    }
    .group-3-jSV {
      margin-bottom: 1rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .password-gcd {
        margin-bottom: 1rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: #555555;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-23a5-RKK {
        padding-left: 1.9rem;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #f1f3f6;
        border-radius: 0.8rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .enter-your-password-xa9 {
          font-weight: 400;
          line-height: 1.5;
          color: #555555;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 17.8rem;
          font-size: 1.6rem;
        }
        .auto-group-4ntm-V4H {
          flex-shrink: 0;
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .forgot-password-oqf {
      margin: 0rem 0rem 3.3rem 28.6rem;
      font-size: 1.4rem;
      font-weight: 400;
      text-decoration-line: underline;
      flex-shrink: 0;
      line-height: 1.5;
      color: #1e2772;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .group-4-iSq {
      font-size: 1.6rem;
      font-weight: 600;
      align-items: center;
      box-shadow: 0 0.8rem 1.2rem rgba(253, 116, 1, 0.3000000119);
      flex-shrink: 0;
      line-height: 1.5;
      justify-content: center;
      background-color: #fd7401;
      border-radius: 0.8rem;
      margin-bottom: 3rem;
      width: 100%;
      color: #ffffff;
      white-space: nowrap;
      display: flex;
      height: 5rem;
      font-family: Poppins, 'Source Sans Pro';
    }
    .group-5-NGV {
      column-gap: 2rem;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 2.3rem;
      width: 100%;
      display: flex;

      .line-1-iLM {
        height: 0.1rem;
        background-color: #c2c2c2;
        flex-shrink: 0;
        margin-top: 0.2rem;
        width: 17.5rem;
      }
      .or-FbB {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.5;
        color: #c2c2c2;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .line-2-CFX {
        width: 17.5rem;
        height: 0.1rem;
        background-color: #c2c2c2;
        flex-shrink: 0;
        margin-top: 0.2rem;
      }
    }
    .group-6-vBX {
      border-radius: 0.8rem;
      flex-shrink: 0;
      width: 100%;
      text-align: center;
      box-sizing: border-box;
      font-size: 1.6rem;
      color: #fd7401;
      border: solid 0.1rem #fd7401;
      align-items: center;
      box-shadow: 0 0.8rem 1.2rem rgba(253, 116, 1, 0.3000000119);
      font-weight: 600;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      height: 5rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
    }
  }
  .auto-group-nccv-7mo {
    box-sizing: border-box;
    padding: 22.704rem 34.985rem 24.291rem 35.816rem;
    width: 124.8rem;
    height: 100rem;
    background-color: #f1f3f6;
    flex-shrink: 0;

    .login-illustrator-qSu {
      height: 100%;
      position: relative;
      overflow: hidden;
      width: 100%;

      .freepik-background-complete-inject-60-z4u {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 53.9993rem;
        height: 46.5443rem;
      }
      .freepik-floor-inject-60-uBs {
        width: 39.2055rem;
        height: 0.0657rem;
        position: absolute;
        left: 6.8243rem;
        top: 52.9389rem;
        object-fit: contain;
        vertical-align: top;
      }
      .freepik-plant-inject-60-pZj {
        left: 35.1512rem;
        top: 24.0316rem;
        object-fit: contain;
        vertical-align: top;
        width: 10.5021rem;
        height: 18.0735rem;
        position: absolute;
      }
      .freepik-padlock-inject-60-jRo {
        vertical-align: top;
        width: 10.529rem;
        height: 12.5933rem;
        position: absolute;
        left: 34.5378rem;
        top: 0.5902rem;
        object-fit: contain;
      }
      .freepik-device-inject-60-Tsb {
        background-size: cover;
        background-image: url('REPLACE_IMAGE:6:1365');
        background-position: center;
        width: 18.2598rem;
        height: 37.211rem;
        position: absolute;
        left: 19.9295rem;
        top: 6.1784rem;
        background-repeat: no-repeat;

        .vector-AX7 {
          vertical-align: top;
          width: 16.5774rem;
          height: 34.7942rem;
          position: absolute;
          left: 0.8406rem;
          top: 1.1035rem;
          object-fit: contain;
        }
        .vector-6ff {
          left: 4.2647rem;
          top: 28.8142rem;
          object-fit: contain;
          vertical-align: top;
          width: 9.732rem;
          height: 2.9616rem;
          position: absolute;
        }
        .sing-up-dvV {
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          height: 1.3rem;
          position: absolute;
          left: 6.9824rem;
          font-size: 1.0278rem;
          width: 4.2rem;
          top: 29.5424rem;
          color: #e8e8e3;
          white-space: nowrap;
        }
        .vector-wwB {
          position: absolute;
          left: 3.0542rem;
          top: 10.2136rem;
          object-fit: contain;
          vertical-align: top;
          width: 3.2537rem;
          height: 0.6114rem;
        }
        .vector-gNy {
          object-fit: contain;
          vertical-align: top;
          width: 3.2537rem;
          height: 0.6114rem;
          position: absolute;
          left: 3.0542rem;
          top: 10.2136rem;
        }
        .vector-Ddo {
          position: absolute;
          left: 3.0129rem;
          top: 11.6642rem;
          object-fit: contain;
          vertical-align: top;
          width: 13.0517rem;
          height: 2.2272rem;
        }
        .vector-Mk1 {
          vertical-align: top;
          width: 5.9459rem;
          height: 0.5574rem;
          position: absolute;
          left: 4.0334rem;
          top: 12.3771rem;
          object-fit: contain;
        }
        .vector-HtZ {
          object-fit: contain;
          vertical-align: top;
          width: 5.9459rem;
          height: 0.5574rem;
          position: absolute;
          left: 4.0334rem;
          top: 12.3771rem;
        }
        .vector-RUy {
          left: 3.0321rem;
          top: 15.6562rem;
          object-fit: contain;
          vertical-align: top;
          width: 3.2537rem;
          height: 0.6114rem;
          position: absolute;
        }
        .vector-m33 {
          width: 3.2537rem;
          height: 0.6114rem;
          position: absolute;
          left: 3.0321rem;
          top: 15.6562rem;
          object-fit: contain;
          vertical-align: top;
        }
        .vector-JYm {
          width: 13.053rem;
          height: 2.2217rem;
          position: absolute;
          left: 2.9836rem;
          top: 17.1209rem;
          object-fit: contain;
          vertical-align: top;
        }
        .vector-qob {
          position: absolute;
          left: 3.0075rem;
          top: 21.3352rem;
          object-fit: contain;
          vertical-align: top;
          width: 3.2537rem;
          height: 0.6114rem;
        }
        .vector-nTw {
          left: 3.0075rem;
          top: 21.3352rem;
          object-fit: contain;
          vertical-align: top;
          width: 3.2537rem;
          height: 0.6114rem;
          position: absolute;
        }
        .vector-Kyf {
          vertical-align: top;
          width: 13.0518rem;
          height: 2.2316rem;
          position: absolute;
          left: 2.9697rem;
          top: 22.7811rem;
          object-fit: contain;
        }
        .vector-G8D {
          left: 3.9041rem;
          top: 17.9505rem;
          object-fit: contain;
          vertical-align: top;
          width: 5.9483rem;
          height: 0.5844rem;
          position: absolute;
        }
        .vector-1Lh {
          height: 0.5844rem;
          position: absolute;
          left: 3.9041rem;
          top: 17.9505rem;
          object-fit: contain;
          vertical-align: top;
          width: 5.9483rem;
        }
        .vector-xWq {
          width: 0.5203rem;
          height: 0.5208rem;
          position: absolute;
          left: 3.9242rem;
          top: 23.6999rem;
          object-fit: contain;
          vertical-align: top;
        }
        .vector-6sw {
          height: 0.557rem;
          position: absolute;
          left: 4.7293rem;
          top: 23.7047rem;
          object-fit: contain;
          vertical-align: top;
          width: 0.5208rem;
        }
        .vector-q4q {
          width: 0.5203rem;
          height: 0.5208rem;
          position: absolute;
          left: 5.5358rem;
          top: 23.7075rem;
          object-fit: contain;
          vertical-align: top;
        }
        .vector-yB3 {
          left: 6.3409rem;
          top: 23.7113rem;
          object-fit: contain;
          vertical-align: top;
          width: 0.5203rem;
          height: 0.5208rem;
          position: absolute;
        }
        .vector-7HF {
          object-fit: contain;
          vertical-align: top;
          width: 0.5203rem;
          height: 0.5208rem;
          position: absolute;
          left: 7.146rem;
          top: 23.7151rem;
        }
        .vector-F8Z {
          object-fit: contain;
          vertical-align: top;
          width: 0.5203rem;
          height: 0.5208rem;
          position: absolute;
          left: 7.9524rem;
          top: 23.719rem;
        }
        .vector-zM3 {
          top: 23.7224rem;
          object-fit: contain;
          vertical-align: top;
          width: 0.5208rem;
          height: 0.557rem;
          position: absolute;
          left: 8.7576rem;
        }
        .vector-8TF {
          vertical-align: top;
          width: 0.5203rem;
          height: 0.5208rem;
          position: absolute;
          left: 9.5628rem;
          top: 23.7266rem;
          object-fit: contain;
        }
        .vector-sfj {
          width: 0.5203rem;
          height: 0.5208rem;
          position: absolute;
          left: 10.368rem;
          top: 23.7303rem;
          object-fit: contain;
          vertical-align: top;
        }
        .group-22q {
          top: 23.6999rem;
          display: flex;
          align-items: center;
          opacity: 0.2;
          width: 6.9641rem;
          height: 0.5794rem;
          position: absolute;
          left: 3.9242rem;

          .vector-YG5 {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.285rem 0.059rem 0rem;
            width: 0.5203rem;
            height: 0.5208rem;
            object-fit: contain;
          }
          .vector-sZF {
            margin: 0rem 0.286rem 0.013rem 0rem;
            width: 0.5208rem;
            height: 0.557rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .vector-1QZ {
            margin: 0rem 0.285rem 0.043rem 0rem;
            width: 0.5203rem;
            height: 0.5208rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .vector-YQV {
            margin: 0rem 0.285rem 0.036rem 0rem;
            width: 0.5203rem;
            height: 0.5208rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .vector-dRw {
            height: 0.5208rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.286rem 0.028rem 0rem;
            width: 0.5203rem;
          }
          .vector-XGR {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.285rem 0.021rem 0rem;
            width: 0.5203rem;
            height: 0.5208rem;
            object-fit: contain;
          }
          .vector-SuB {
            margin: 0.022rem 0.284rem 0rem 0rem;
            width: 0.5208rem;
            height: 0.557rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .vector-Bbs {
            margin: 0rem 0.285rem 0.005rem 0rem;
            width: 0.5203rem;
            height: 0.5208rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .vector-7VX {
            height: 0.5208rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.002rem;
            width: 0.5203rem;
          }
        }
        .vector-rT7 {
          height: 1.8253rem;
          position: absolute;
          left: 8.7341rem;
          top: 4.8234rem;
          object-fit: contain;
          vertical-align: top;
          width: 1.6741rem;
        }
        .vector-CG5 {
          width: 1.6741rem;
          height: 1.8253rem;
          position: absolute;
          left: 8.7341rem;
          top: 4.8234rem;
          object-fit: contain;
          vertical-align: top;
        }
        .vector-LNH {
          width: 5.968rem;
          height: 0.74rem;
          position: absolute;
          left: 6.4956rem;
          top: 7.1173rem;
          object-fit: contain;
          vertical-align: top;
        }
        .vector-sND {
          width: 5.968rem;
          height: 0.74rem;
          position: absolute;
          left: 6.4956rem;
          top: 7.1173rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .freepik-speech-bubble-inject-60-PLZ {
        padding: 1.771rem 1.877rem 2.834rem 2.007rem;
        position: absolute;
        left: 7.213rem;
        top: 17.0172rem;
        align-items: center;
        background-size: cover;
        box-sizing: border-box;
        width: 6.5183rem;
        height: 7.402rem;
        display: flex;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:6:1406');

        .vector-5DP {
          height: 2.7973rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.1175rem;
          width: 1.9724rem;
        }
        .vector-cUD {
          margin-top: 0.9039rem;
          width: 0.5435rem;
          height: 1.5977rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .freepik-character-inject-60-wWV {
        height: 35.1878rem;
        position: absolute;
        left: 10.4634rem;
        top: 17.7686rem;
        object-fit: contain;
        vertical-align: top;
        width: 18.1004rem;
      }
    }
  }
}
