
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 10rem;
}.rectangle-3-K6u {
  background-color: #555555;
  width: 100%;
  height: 10rem;
}
