
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 256rem;
}.cover-fy7 {
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-left: 11.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .auto-group-hldb-gdK {
    flex-shrink: 0;
    margin: 0rem 2.4rem 11.7rem 0rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .figma-1-1-yVw {
      margin: 0rem 9.9rem 7.204rem 0rem;
      width: 14.997rem;
      height: 22.4955rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .login-screen-g9T {
      font-size: 17.2214rem;
      font-weight: 700;
      line-height: 1.0899999619;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 2.4rem;
      max-width: 61.3rem;
    }
    .design-using-figma-jtR {
      font-weight: 400;
      line-height: 1.5;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 2.2rem;
      font-size: 6rem;
    }
  }
  .auto-group-dbz7-T3j {
    width: 180.9rem;
    height: 145.6rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-13-BEd {
      width: 1rem;
      height: 37.4rem;
      position: absolute;
      left: 68.4rem;
      top: 7.4rem;
      background-color: #f97202;
      border-radius: 2.4rem;
    }
    .rectangle-14-HYZ {
      background-color: #f97202;
      border-radius: 2.4rem;
      width: 1rem;
      height: 17.3rem;
      position: absolute;
      left: 70.6rem;
      top: 0;
    }
    .group-16-QdB {
      width: 16.9rem;
      height: 16.9rem;
      position: absolute;
      left: 0;
      top: 112.5rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .group-9-8JH {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 1.0636rem;
        width: 100%;

        .ellipse-1-TrM {
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
        .ellipse-2-zbP {
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
        }
        .ellipse-3-wFj {
          border-radius: 0.5909rem;
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
        }
        .ellipse-4-FGR {
          border-radius: 0.5909rem;
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
        }
        .ellipse-5-nGM {
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
        .ellipse-6-7pR {
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
          margin-right: 1.0636rem;
        }
        .ellipse-7-fL9 {
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
        .ellipse-8-bzV {
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
      }
      .group-8-wHf {
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 1.0636rem;

        .ellipse-9-gFF {
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
        .ellipse-10-Qww {
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
        .ellipse-11-kW1 {
          border-radius: 0.5909rem;
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
        }
        .ellipse-12-ts7 {
          border-radius: 0.5909rem;
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
        }
        .ellipse-13-dph {
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
        .ellipse-14-BLR {
          border-radius: 0.5909rem;
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
        }
        .ellipse-15-7Uy {
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
        }
        .ellipse-16-RVf {
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
      }
      .group-10-xEh {
        margin-bottom: 1.0636rem;
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .ellipse-1-HXs {
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
        }
        .ellipse-2-Re5 {
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
        }
        .ellipse-3-Abf {
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
        .ellipse-4-Jhs {
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
          margin-right: 1.0636rem;
        }
        .ellipse-5-emj {
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
        }
        .ellipse-6-zqb {
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
        .ellipse-7-9Tb {
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
        .ellipse-8-67w {
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
          width: 1.1818rem;
        }
      }
      .group-11-cry {
        margin-bottom: 1.0636rem;
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .ellipse-9-N5T {
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
        }
        .ellipse-10-ubB {
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
        }
        .ellipse-11-FQ9 {
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
        .ellipse-12-PFT {
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
        .ellipse-13-ioX {
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
        .ellipse-14-ex5 {
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
        }
        .ellipse-15-noP {
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
        }
        .ellipse-16-Xky {
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
      }
      .group-12-GyT {
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 1.0636rem;

        .ellipse-1-Dth {
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
        }
        .ellipse-2-AZ3 {
          border-radius: 0.5909rem;
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
        }
        .ellipse-3-uFj {
          border-radius: 0.5909rem;
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
        }
        .ellipse-4-EYu {
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
        .ellipse-5-n4d {
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
          margin-right: 1.0636rem;
        }
        .ellipse-6-XH7 {
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
        }
        .ellipse-7-Sus {
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
        }
        .ellipse-8-BsT {
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
      }
      .group-14-Kyf {
        margin-bottom: 1.0636rem;
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .ellipse-9-ULm {
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
        }
        .ellipse-10-CnZ {
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
        .ellipse-11-Lds {
          border-radius: 0.5909rem;
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
        }
        .ellipse-12-sth {
          border-radius: 0.5909rem;
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
        }
        .ellipse-13-DxZ {
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
        }
        .ellipse-14-NKf {
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
        .ellipse-15-7HF {
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
        }
        .ellipse-16-rEq {
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
          width: 1.1818rem;
          height: 1.1818rem;
        }
      }
      .group-13-CJh {
        margin-bottom: 1.0636rem;
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .ellipse-1-8y3 {
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
          margin-right: 1.0636rem;
        }
        .ellipse-2-fxy {
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
        .ellipse-3-p5B {
          border-radius: 0.5909rem;
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
        }
        .ellipse-4-Yms {
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
        .ellipse-5-Gxm {
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
        }
        .ellipse-6-1vM {
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
        .ellipse-7-AHT {
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
        .ellipse-8-WMK {
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
      }
      .group-15-3s3 {
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .ellipse-9-zXP {
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
        .ellipse-10-wBj {
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
        .ellipse-11-fNd {
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
        }
        .ellipse-12-zvh {
          border-radius: 0.5909rem;
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
        }
        .ellipse-13-YBX {
          border-radius: 0.5909rem;
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
        }
        .ellipse-14-gHj {
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
        }
        .ellipse-15-chB {
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
          margin-right: 1.0636rem;
          width: 1.1818rem;
        }
        .ellipse-16-xFF {
          width: 1.1818rem;
          height: 1.1818rem;
          background-color: #fd7401;
          border-radius: 0.5909rem;
          flex-shrink: 0;
        }
      }
    }
    .rectangle-12-gh3 {
      height: 144rem;
      position: absolute;
      left: 133rem;
      top: 0;
      background-color: #fd7401;
      width: 47.9rem;
    }
    .login-Red {
      width: 156.9rem;
      position: absolute;
      top: 21.5rem;
      align-items: center;
      background-color: #f1f3f6;
      height: 101rem;
      left: 14.1rem;
      overflow: hidden;
      display: flex;
      border: solid 1.5146rem #1e2772;
      box-sizing: border-box;
      box-shadow: 0 0 20rem rgba(0, 0, 0, 0.200000003);
      border-radius: 5.0486rem;

      .auto-group-kv9t-ZF3 {
        margin: 0rem 0.035rem 0.027rem 0rem;
        box-sizing: border-box;
        align-items: center;
        box-shadow: 2.4233rem 0 5.0486rem rgba(0, 0, 0, 0.0500000007);
        background-color: #ffffff;
        flex-shrink: 0;
        padding: 20.295rem 2.647rem 20.295rem 2.625rem;
        width: 48.2649rem;
        height: calc(100% - 0.0274rem);
        display: flex;
        flex-direction: column;

        .group-1-2eR {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 10.48rem 1.561rem 10.501rem;
          width: calc(100% - 20.9807rem);
          display: flex;

          .rectangle-4-MRo {
            background-color: #fd7401;
            border-radius: 1.6778rem;
            flex-shrink: 0;
            margin: 0.419rem 0.559rem 0rem 0rem;
            width: 0.5593rem;
            height: 5.5927rem;
          }
          .rectangle-5-dGq {
            margin: 0rem 0.559rem 0.419rem 0rem;
            width: 0.5593rem;
            height: 5.5927rem;
            background-color: #1e2772;
            border-radius: 1.6778rem;
            flex-shrink: 0;
          }
          .rectangle-6-kcM {
            width: 0.5593rem;
            height: 5.5927rem;
            background-color: #fd7401;
            border-radius: 1.6778rem;
            flex-shrink: 0;
            margin: 0.419rem 0.559rem 0rem 0rem;
          }
          .rectangle-7-tiZ {
            margin: 0rem 0.559rem 0.419rem 0rem;
            width: 0.5593rem;
            height: 5.5927rem;
            background-color: #1e2772;
            border-radius: 1.6778rem;
            flex-shrink: 0;
          }
          .rectangle-8-dRF {
            width: 0.5593rem;
            height: 5.5927rem;
            background-color: #fd7401;
            border-radius: 1.6778rem;
            flex-shrink: 0;
            margin: 0.419rem 0.559rem 0rem 0rem;
          }
          .network-ZZo {
            height: 3.0327rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.0433rem;
            width: 16.4193rem;
          }
        }
        .login-into-your-account-u7s {
          margin: 0rem 0.065rem 4.467rem 0rem;
          font-size: 1.6156rem;
          font-weight: 600;
          color: #555555;
          flex-shrink: 0;
          text-align: center;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .group-2-c2H {
          margin: 0rem 0.079rem 2.827rem 0rem;
          width: 42.9134rem;
          flex-shrink: 0;

          .email-address-Liy {
            margin-bottom: 0.9331rem;
            font-size: 1.6156rem;
            font-weight: 400;
            line-height: 1.5;
            color: #555555;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-csu1-5gZ {
            background-color: #f1f3f6;
            border-radius: 0.8078rem;
            margin-left: 0rem;
            box-sizing: border-box;
            width: calc(100% - 0rem);
            display: flex;
            padding: 0rem 0rem 0rem 2.019rem;
            height: 5.0486rem;
            align-items: center;

            .alexemailcom-PSM {
              font-size: 1.4136rem;
              font-weight: 400;
              line-height: 1.5;
              color: #555555;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 24.045rem 0.021rem 0rem;
            }
            .group-4-uQh {
              height: 100%;
              background-color: #fd7401;
              border-radius: 0.8078rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.313rem 1.313rem 1.313rem 1.313rem;

              .frame-Ehs {
                width: 2.4233rem;
                height: 2.4233rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
        }
        .group-3-juX {
          flex-shrink: 0;
          margin: 0rem 0.079rem 1.111rem 0rem;
          width: 42.9134rem;

          .password-t1j {
            line-height: 1.5;
            color: #555555;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.9331rem;
            font-size: 1.6156rem;
            font-weight: 400;
          }
          .auto-group-w7df-ouP {
            box-sizing: border-box;
            padding: 0rem 0rem 0rem 2.019rem;
            width: calc(100% - 0rem);
            display: flex;
            align-items: center;
            border-radius: 0.8078rem;
            margin-left: 0rem;
            background-color: #f1f3f6;
            height: 5.0486rem;

            .enter-your-password-vUD {
              flex-shrink: 0;
              margin: 0rem 21.445rem 0.021rem 0rem;
              font-size: 1.4136rem;
              font-weight: 400;
              line-height: 1.5;
              color: #555555;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .auto-group-tfps-ShT {
              height: 100%;
              background-color: #fd7401;
              border-radius: 0.8078rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.313rem 1.313rem 1.313rem 1.313rem;

              .frame-mjj {
                width: 2.4233rem;
                height: 2.4233rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
        }
        .forgot-password-rmB {
          line-height: 1.5;
          color: #1e2772;
          white-space: nowrap;
          font-weight: 400;
          font-size: 1.4136rem;
          text-decoration-line: underline;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0rem 2.647rem 30.393rem;
        }
        .group-5-krZ {
          border-radius: 0.8078rem;
          margin: 0rem 0.079rem 3.938rem 0rem;
          height: 5.0486rem;
          font-weight: 600;
          justify-content: center;
          box-shadow: 0 1.2117rem 2.4233rem rgba(253, 116, 1, 0.3000000119);
          background-color: #fd7401;
          align-items: center;
          flex-shrink: 0;
          width: 42.9134rem;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-size: 1.6156rem;
          color: #ffffff;
          display: flex;
        }
        .group-6-gtd {
          margin: 0rem 0rem 3.858rem 0.072rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .line-1-1vu {
            margin: 0.122rem 1.969rem 0rem 0rem;
            width: 18.4275rem;
            height: 0.101rem;
            background-color: #c2c2c2;
            flex-shrink: 0;
          }
          .or-wJm {
            line-height: 1.5;
            color: #c2c2c2;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 2.0389rem;
            font-size: 1.4136rem;
            font-weight: 400;
          }
          .line-2-siD {
            width: 18.4275rem;
            height: 0.101rem;
            background-color: #c2c2c2;
            flex-shrink: 0;
            margin-top: 0.1224rem;
          }
        }
        .group-7-DGH {
          line-height: 1.5;
          box-sizing: border-box;
          border-radius: 0.8078rem;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          margin-right: 0.0794rem;
          font-size: 1.6156rem;
          display: flex;
          color: #fd7401;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          border: solid 0.101rem #fd7401;
          width: 42.9134rem;
          height: 5.0486rem;
          text-align: center;
          font-weight: 600;
        }
      }
      .auto-group-evth-Seq {
        width: 108.6rem;
        height: 100%;
        background-color: #f1f3f6;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 22.946rem 26.611rem 24.534rem 27.464rem;

        .mobile-login-pana-1-N2h {
          width: 100%;
          height: 100%;
          position: relative;
          overflow: hidden;

          .freepik-background-complete-inject-60-uHX {
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 54.5245rem;
            height: 46.997rem;
            position: absolute;
            left: 0;
          }
          .freepik-floor-inject-60-dUR {
            width: 39.5868rem;
            height: 0.0664rem;
            position: absolute;
            left: 6.8908rem;
            top: 53.4537rem;
            object-fit: contain;
            vertical-align: top;
          }
          .freepik-plant-inject-60-wzu {
            position: absolute;
            left: 35.4932rem;
            top: 24.2654rem;
            object-fit: contain;
            vertical-align: top;
            width: 10.6043rem;
            height: 18.2492rem;
          }
          .freepik-padlock-inject-60-H3B {
            height: 12.7158rem;
            position: absolute;
            left: 34.8738rem;
            top: 0.596rem;
            object-fit: contain;
            vertical-align: top;
            width: 10.6314rem;
          }
          .freepik-device-inject-60-1Uy {
            width: 18.4374rem;
            left: 20.1233rem;
            background-image: url('REPLACE_IMAGE:6:746');
            height: 37.5729rem;
            position: absolute;
            top: 6.2385rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            .vector-hch {
              height: 35.1326rem;
              position: absolute;
              left: 0.8487rem;
              top: 1.1142rem;
              object-fit: contain;
              vertical-align: top;
              width: 16.7387rem;
            }
            .vector-SKP {
              vertical-align: top;
              width: 9.8267rem;
              height: 2.9904rem;
              position: absolute;
              left: 4.3062rem;
              top: 29.0944rem;
              object-fit: contain;
            }
            .sing-up-y4R {
              height: 1.3rem;
              position: absolute;
              left: 7.0502rem;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              width: 4.3rem;
              top: 29.8297rem;
              font-size: 1.0378rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #e8e8e3;
            }
            .vector-UG5 {
              position: absolute;
              left: 3.0839rem;
              top: 10.3129rem;
              object-fit: contain;
              vertical-align: top;
              width: 3.2853rem;
              height: 0.6173rem;
            }
            .vector-oZF {
              position: absolute;
              left: 3.0839rem;
              top: 10.3129rem;
              object-fit: contain;
              vertical-align: top;
              width: 3.2853rem;
              height: 0.6173rem;
            }
            .vector-wvM {
              position: absolute;
              left: 3.0421rem;
              top: 11.7777rem;
              object-fit: contain;
              vertical-align: top;
              width: 13.1786rem;
              height: 2.2488rem;
            }
            .vector-Gxd {
              object-fit: contain;
              vertical-align: top;
              width: 6.0037rem;
              height: 0.5628rem;
              position: absolute;
              left: 4.0726rem;
              top: 12.4975rem;
            }
            .vector-pDT {
              height: 0.5628rem;
              position: absolute;
              left: 4.0726rem;
              top: 12.4975rem;
              object-fit: contain;
              vertical-align: top;
              width: 6.0037rem;
            }
            .vector-ZRw {
              left: 3.0615rem;
              top: 15.8085rem;
              object-fit: contain;
              vertical-align: top;
              width: 3.2853rem;
              height: 0.6173rem;
              position: absolute;
            }
            .vector-J8d {
              width: 3.2853rem;
              height: 0.6173rem;
              position: absolute;
              left: 3.0615rem;
              top: 15.8085rem;
              object-fit: contain;
              vertical-align: top;
            }
            .vector-eTP {
              width: 13.18rem;
              height: 2.2433rem;
              position: absolute;
              left: 3.0126rem;
              top: 17.2874rem;
              object-fit: contain;
              vertical-align: top;
            }
            .vector-By7 {
              left: 3.0368rem;
              top: 21.5427rem;
              object-fit: contain;
              vertical-align: top;
              width: 3.2853rem;
              height: 0.6173rem;
              position: absolute;
            }
            .vector-LLD {
              vertical-align: top;
              width: 3.2853rem;
              height: 0.6173rem;
              position: absolute;
              left: 3.0368rem;
              top: 21.5427rem;
              object-fit: contain;
            }
            .vector-gQ5 {
              width: 13.1787rem;
              height: 2.2533rem;
              position: absolute;
              left: 2.9985rem;
              top: 23.0027rem;
              object-fit: contain;
              vertical-align: top;
            }
            .vector-2Tw {
              width: 6.0062rem;
              height: 0.5901rem;
              position: absolute;
              left: 3.942rem;
              top: 18.1251rem;
              object-fit: contain;
              vertical-align: top;
            }
            .vector-mAd {
              width: 6.0062rem;
              height: 0.5901rem;
              position: absolute;
              left: 3.942rem;
              top: 18.1251rem;
              object-fit: contain;
              vertical-align: top;
            }
            .vector-JRT {
              top: 23.9305rem;
              object-fit: contain;
              vertical-align: top;
              width: 0.5254rem;
              height: 0.5258rem;
              position: absolute;
              left: 3.9623rem;
            }
            .vector-F5o {
              left: 4.7752rem;
              top: 23.9352rem;
              object-fit: contain;
              vertical-align: top;
              width: 0.5258rem;
              height: 0.5624rem;
              position: absolute;
            }
            .vector-C13 {
              top: 23.9381rem;
              object-fit: contain;
              vertical-align: top;
              width: 0.5253rem;
              height: 0.5258rem;
              position: absolute;
              left: 5.5896rem;
            }
            .vector-L7F {
              height: 0.5258rem;
              position: absolute;
              left: 6.4026rem;
              top: 23.9419rem;
              object-fit: contain;
              vertical-align: top;
              width: 0.5253rem;
            }
            .vector-Gmb {
              width: 0.5254rem;
              height: 0.5258rem;
              position: absolute;
              left: 7.2155rem;
              top: 23.9458rem;
              object-fit: contain;
              vertical-align: top;
            }
            .vector-Dwj {
              vertical-align: top;
              width: 0.5254rem;
              height: 0.5258rem;
              position: absolute;
              left: 8.0298rem;
              top: 23.9497rem;
              object-fit: contain;
            }
            .vector-Ac5 {
              width: 0.5258rem;
              height: 0.5624rem;
              position: absolute;
              left: 8.8428rem;
              top: 23.9531rem;
              object-fit: contain;
              vertical-align: top;
            }
            .vector-7XK {
              position: absolute;
              left: 9.6558rem;
              top: 23.9574rem;
              object-fit: contain;
              vertical-align: top;
              width: 0.5254rem;
              height: 0.5258rem;
            }
            .vector-rzh {
              width: 0.5254rem;
              height: 0.5258rem;
              position: absolute;
              left: 10.4688rem;
              top: 23.9611rem;
              object-fit: contain;
              vertical-align: top;
            }
            .group-pAq {
              opacity: 0.2;
              width: 7.0319rem;
              height: 0.5851rem;
              position: absolute;
              left: 3.9623rem;
              top: 23.9305rem;
              display: flex;
              align-items: center;

              .vector-Y6q {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 0.288rem 0.059rem 0rem;
                width: 0.5254rem;
                height: 0.5258rem;
                object-fit: contain;
              }
              .vector-GoX {
                margin: 0rem 0.289rem 0.013rem 0rem;
                width: 0.5258rem;
                height: 0.5624rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .vector-c6h {
                width: 0.5253rem;
                height: 0.5258rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 0.288rem 0.044rem 0rem;
              }
              .vector-XjT {
                margin: 0rem 0.288rem 0.036rem 0rem;
                width: 0.5253rem;
                height: 0.5258rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .vector-U8u {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 0.289rem 0.029rem 0rem;
                width: 0.5254rem;
                height: 0.5258rem;
                object-fit: contain;
              }
              .vector-18q {
                height: 0.5258rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 0.288rem 0.021rem 0rem;
                width: 0.5254rem;
              }
              .vector-8z9 {
                margin: 0.023rem 0.287rem 0rem 0rem;
                width: 0.5258rem;
                height: 0.5624rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .vector-fjB {
                width: 0.5254rem;
                height: 0.5258rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 0.288rem 0.005rem 0rem;
              }
              .vector-12M {
                margin-top: 0.002rem;
                width: 0.5254rem;
                height: 0.5258rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .vector-7zV {
              position: absolute;
              left: 8.819rem;
              top: 4.8703rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.6904rem;
              height: 1.8431rem;
            }
            .vector-TYZ {
              height: 1.8431rem;
              position: absolute;
              left: 8.819rem;
              top: 4.8703rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.6904rem;
            }
            .vector-Cm3 {
              left: 6.5588rem;
              top: 7.1865rem;
              object-fit: contain;
              vertical-align: top;
              width: 6.026rem;
              height: 0.7472rem;
              position: absolute;
            }
            .vector-k1s {
              top: 7.1865rem;
              object-fit: contain;
              vertical-align: top;
              width: 6.026rem;
              height: 0.7472rem;
              position: absolute;
              left: 6.5588rem;
            }
          }
          .freepik-speech-bubble-inject-60-42Z {
            box-sizing: border-box;
            padding: 1.788rem 1.896rem 2.861rem 2.027rem;
            width: 6.5817rem;
            height: 7.474rem;
            top: 17.1827rem;
            align-items: center;
            background-size: cover;
            background-position: center;
            position: absolute;
            left: 7.2832rem;
            display: flex;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:6:787');

            .vector-9Ju {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.1187rem;
              width: 1.9916rem;
              height: 2.8245rem;
            }
            .vector-HAD {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.9127rem;
              width: 0.5488rem;
              height: 1.6132rem;
            }
          }
          .freepik-character-inject-60-QVj {
            height: 35.53rem;
            position: absolute;
            left: 10.5652rem;
            top: 17.9415rem;
            object-fit: contain;
            vertical-align: top;
            width: 18.2764rem;
          }
        }
      }
    }
  }
}
